/* LANDINGPAGE */
.left{ text-align: left; margin-right: 50px; margin-left: 50px; color: white}

.justify{text-align: justify; margin-right: 50px; margin-left: 50px; color: white}

div.textchange{
    height: 80px;
}
section.arrowdown{
    background-size: cover;
    text-align: center;
    margin-right: 20px;
}
a.btn_down{
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    color: white;

}
.icon-arrow-down{
    font-size: 40px;
    margin-right: 20px;
}

.startejetzt{
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 50px;
}
/*<!-- 4. Testat: Änderung Nummer 2 ! -->*/
div.device::after{
    z-index: 10;
}

#rotate {
    position: relative;
    max-height: 400px;
}
#rotate img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#rotate img.current {
    z-index: 3;
}
#rotate img.lastShown {
    z-index: 2;
}



/* SUBSITES */
.headerstyle{
    padding-top: 250px; color:#fff;background:url(../img/bg-pattern.png),#7b4397;background:url(../img/bg-pattern.png),linear-gradient(to left,#4870bb,#008e53)
}

/* BUNNER */
.fixed-btn{
    position: fixed;
    bottom: 5%;
    right: 3%;
    background: #08536c;
    width: 130px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #0a78aa;
    cursor: pointer;
}

.fixed-btn p{
    text-transform: uppercase;
    font-weight: 900;
    color: #ffffff;
    margin-top: 5px;
}

.fixed-btn:active{
    box-shadow: 0  0;
}
/* Cookie */
.cookielink{
    color: white;
}
.cookiebutton{
    background: #08536c;
}